*,
:before,
:after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb
}

:before,
:after {
    --tw-content: ""
}

html,
:host {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    font-feature-settings: normal;
    font-variation-settings: normal;
    -webkit-tap-highlight-color: transparent
}

body {
    margin: 0;
    line-height: inherit
}

hr {
    height: 0;
    color: inherit;
    border-top-width: 1px
}

abbr:where([title]) {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit
}

a {
    color: inherit;
    text-decoration: inherit
}

b,
strong {
    font-weight: bolder
}

code,
kbd,
samp,
pre {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    font-feature-settings: normal;
    font-variation-settings: normal;
    font-size: 1em
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

table {
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0
}

button,
select {
    text-transform: none
}

button,
[type=button],
[type=reset],
[type=submit] {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none
}

:-moz-focusring {
    outline: auto
}

:-moz-ui-invalid {
    box-shadow: none
}

progress {
    vertical-align: baseline
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

summary {
    display: list-item
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
    margin: 0
}

fieldset {
    margin: 0;
    padding: 0
}

legend {
    padding: 0
}

ol,
ul,
menu {
    list-style: none;
    margin: 0;
    padding: 0
}

dialog {
    padding: 0
}

textarea {
    resize: vertical
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    opacity: 1;
    color: #9ca3af
}

input::placeholder,
textarea::placeholder {
    opacity: 1;
    color: #9ca3af
}

button,
[role=button] {
    cursor: pointer
}

:disabled {
    cursor: default
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    display: block;
    vertical-align: middle
}

img,
video {
    max-width: 100%;
    height: auto
}

[hidden] {
    display: none
}

*,
:before,
:after {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / .5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia:
}

::backdrop {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / .5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia:
}

.fixed {
    position: fixed
}

.absolute {
    position: absolute
}

.relative {
    position: relative
}

.-top-\[52px\] {
    top: -52px
}

.bottom-32 {
    bottom: 8rem
}

.bottom-\[30\%\] {
    bottom: 30%
}

.bottom-full {
    bottom: 100%
}

.left-0 {
    left: 0
}

.left-1\/2 {
    left: 50%
}

.left-2 {
    left: .5rem
}

.right-10 {
    right: 2.5rem
}

.right-5 {
    right: 1.25rem
}

.right-\[24rem\] {
    right: 24rem
}

.top-0 {
    top: 0
}

.top-5 {
    top: 1.25rem
}

.z-10 {
    z-index: 10
}

.z-40 {
    z-index: 40
}

.z-50 {
    z-index: 50
}

.-mx-\[16\.7\%\] {
    margin-left: -16.7%;
    margin-right: -16.7%
}

.-mx-\[7\%\],
.mx-\[-7\%\] {
    margin-left: -7%;
    margin-right: -7%
}

.mx-auto {
    margin-left: auto;
    margin-right: auto
}

.my-0 {
    margin-top: 0;
    margin-bottom: 0
}

.mb-1 {
    margin-bottom: .25rem
}

.mb-2 {
    margin-bottom: .5rem
}

.ml-5 {
    margin-left: 1.25rem
}

.ml-\[6\.9rem\] {
    margin-left: 6.9rem
}

.mt-10 {
    margin-top: 2.5rem
}

.mt-20 {
    margin-top: 5rem
}

.mt-8 {
    margin-top: 2rem
}

.block {
    display: block
}

.inline-block {
    display: inline-block
}

.flex {
    display: flex
}

.grid {
    display: grid
}

.hidden {
    display: none
}

.h-12 {
    height: 3rem
}

.h-fit {
    height: -moz-fit-content;
    height: fit-content
}

.h-full {
    height: 100%
}

.h-screen {
    height: 100vh
}

.min-h-\[250px\] {
    min-height: 250px
}

.min-h-\[600px\] {
    min-height: 600px
}

.min-h-screen {
    min-height: 100vh
}

.w-1\/2 {
    width: 50%
}

.w-1\/3 {
    width: 33.333333%
}

.w-1\/4 {
    width: 25%
}

.w-12 {
    width: 3rem
}

.w-2\/12 {
    width: 16.666667%
}

.w-2\/3 {
    width: 66.666667%
}

.w-2\/5 {
    width: 40%
}

.w-3\/4 {
    width: 75%
}

.w-\[120\%\] {
    width: 120%
}

.w-\[15\%\] {
    width: 15%
}

.w-\[19\%\] {
    width: 19%
}

.w-\[95\%\] {
    width: 95%
}

.w-fit {
    width: -moz-fit-content;
    width: fit-content
}

.w-full {
    width: 100%
}

.w-screen {
    width: 100vw
}

.min-w-20 {
    min-width: 5rem
}

.min-w-96 {
    min-width: 24rem
}

.-translate-x-1\/2 {
    --tw-translate-x: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.-translate-x-full {
    --tw-translate-x: -100%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.-translate-y-1\/2 {
    --tw-translate-y: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.translate-x-0 {
    --tw-translate-x: 0px;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.transform {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.cursor-not-allowed {
    cursor: not-allowed
}

.cursor-pointer {
    cursor: pointer
}

.grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr))
}

.grid-rows-2 {
    grid-template-rows: repeat(2, minmax(0, 1fr))
}

.flex-row {
    flex-direction: row
}

.flex-row-reverse {
    flex-direction: row-reverse
}

.flex-col {
    flex-direction: column
}

.flex-col-reverse {
    flex-direction: column-reverse
}

.content-center {
    align-content: center
}

.items-end {
    align-items: flex-end
}

.items-center {
    align-items: center
}

.justify-end {
    justify-content: flex-end
}

.justify-center {
    justify-content: center
}

.justify-between {
    justify-content: space-between
}

.justify-evenly {
    justify-content: space-evenly
}

.gap-10 {
    gap: 2.5rem
}

.gap-2 {
    gap: .5rem
}

.gap-3 {
    gap: .75rem
}

.gap-4 {
    gap: 1rem
}

.gap-5 {
    gap: 1.25rem
}

.gap-7 {
    gap: 1.75rem
}

.gap-8 {
    gap: 2rem
}

.rounded {
    border-radius: .25rem
}

.rounded-2xl {
    border-radius: 1rem
}

.rounded-3xl {
    border-radius: 1.5rem
}

.rounded-full {
    border-radius: 9999px
}

.rounded-lg {
    border-radius: .5rem
}

.rounded-md {
    border-radius: .375rem
}

.rounded-sm {
    border-radius: .125rem
}

.rounded-xl {
    border-radius: .75rem
}

.rounded-b-xl {
    border-bottom-right-radius: .75rem;
    border-bottom-left-radius: .75rem
}

.rounded-t-2xl {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem
}

.rounded-t-xl {
    border-top-left-radius: .75rem;
    border-top-right-radius: .75rem
}

.border-2 {
    border-width: 2px
}

.border-4 {
    border-width: 4px
}

.border-8 {
    border-width: 8px
}

.border-x-4 {
    border-left-width: 4px;
    border-right-width: 4px
}

.border-x-8 {
    border-left-width: 8px;
    border-right-width: 8px
}

.border-y-8 {
    border-top-width: 8px;
    border-bottom-width: 8px
}

.border-b-8 {
    border-bottom-width: 8px
}

.border-t-4 {
    border-top-width: 4px
}

.border-t-8 {
    border-top-width: 8px
}

.border-black {
    --tw-border-opacity: 1;
    border-color: rgb(0 0 0 / var(--tw-border-opacity))
}

.bg-accent-orange {
    --tw-bg-opacity: 1;
    background-color: rgb(255 97 47 / var(--tw-bg-opacity))
}

.bg-black {
    --tw-bg-opacity: 1;
    background-color: rgb(0 0 0 / var(--tw-bg-opacity))
}

.bg-brand-purple {
    --tw-bg-opacity: 1;
    background-color: rgb(208 180 244 / var(--tw-bg-opacity))
}

.bg-brand-purple-dark {
    --tw-bg-opacity: 1;
    background-color: rgb(187 141 246 / var(--tw-bg-opacity))
}

.bg-brand-yellow {
    --tw-bg-opacity: 1;
    background-color: rgb(255 197 47 / var(--tw-bg-opacity))
}

.bg-green-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(34 197 94 / var(--tw-bg-opacity))
}

.bg-primary-white {
    --tw-bg-opacity: 1;
    background-color: rgb(239 239 226 / var(--tw-bg-opacity))
}

.bg-red-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(239 68 68 / var(--tw-bg-opacity))
}

.bg-transparent {
    background-color: transparent
}

.p-2 {
    padding: .5rem
}

.p-4 {
    padding: 1rem
}

.p-6 {
    padding: 1.5rem
}

.px-10 {
    padding-left: 2.5rem;
    padding-right: 2.5rem
}

.px-12 {
    padding-left: 3rem;
    padding-right: 3rem
}

.px-14 {
    padding-left: 3.5rem;
    padding-right: 3.5rem
}

.px-2 {
    padding-left: .5rem;
    padding-right: .5rem
}

.px-24 {
    padding-left: 6rem;
    padding-right: 6rem
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem
}

.px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem
}

.py-1 {
    padding-top: .25rem;
    padding-bottom: .25rem
}

.py-12 {
    padding-top: 3rem;
    padding-bottom: 3rem
}

.py-2 {
    padding-top: .5rem;
    padding-bottom: .5rem
}

.py-20 {
    padding-top: 5rem;
    padding-bottom: 5rem
}

.py-32 {
    padding-top: 8rem;
    padding-bottom: 8rem
}

.py-5 {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem
}

.py-64 {
    padding-top: 16rem;
    padding-bottom: 16rem
}

.py-8 {
    padding-top: 2rem;
    padding-bottom: 2rem
}

.pt-16 {
    padding-top: 4rem
}

.pt-5 {
    padding-top: 1.25rem
}

.text-center {
    text-align: center
}

.font-Archivo {
    font-family: Archivo, sans-serif
}

.font-DelaGothicOne {
    font-family: Dela Gothic One, sans-serif
}

.text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem
}

.text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem
}

.text-5xl {
    font-size: 3rem;
    line-height: 1
}

.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem
}

.text-sm {
    font-size: .875rem;
    line-height: 1.25rem
}

.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem
}

.text-xs {
    font-size: .75rem;
    line-height: 1rem
}

.font-black {
    font-weight: 900
}

.font-light {
    font-weight: 300
}

.font-semibold {
    font-weight: 600
}

.text-brand-purple-dark {
    --tw-text-opacity: 1;
    color: rgb(187 141 246 / var(--tw-text-opacity))
}

.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity))
}

.drop-shadow-6xl {
    --tw-drop-shadow: drop-shadow(6px 6px 0 rgba(0, 0, 0, .25));
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.drop-shadow-6xl-mobile {
    --tw-drop-shadow: drop-shadow(4px 4px 0 rgba(0, 0, 0, 1));
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.drop-shadow-6xl-solid {
    --tw-drop-shadow: drop-shadow(12px 12px 0 rgba(0, 0, 0, 1));
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.drop-shadow-button-solid {
    --tw-drop-shadow: drop-shadow(4px 4px 0 rgba(0, 0, 0, 1));
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.drop-shadow-xxs {
    --tw-drop-shadow: drop-shadow(2px 1px 0 rgba(0, 0, 0, .25));
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.transition-all {
    transition-property: all;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s
}

.duration-300 {
    transition-duration: .3s
}

.ease-in-out {
    transition-timing-function: cubic-bezier(.4, 0, .2, 1)
}

.before\:drop-shadow-navglow:before {
    content: var(--tw-content);
    --tw-drop-shadow: drop-shadow(0px 4px 4px rgba(235, 97, 17, 1));
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.after\:absolute:after {
    content: var(--tw-content);
    position: absolute
}

.after\:block:after {
    content: var(--tw-content);
    display: block
}

.after\:h-\[3px\]:after {
    content: var(--tw-content);
    height: 3px
}

.after\:w-full:after {
    content: var(--tw-content);
    width: 100%
}

.after\:origin-center:after {
    content: var(--tw-content);
    transform-origin: center
}

.after\:scale-x-0:after {
    content: var(--tw-content);
    --tw-scale-x: 0;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.after\:scale-x-100:after {
    content: var(--tw-content);
    --tw-scale-x: 1;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.after\:bg-accent-orange:after {
    content: var(--tw-content);
    --tw-bg-opacity: 1;
    background-color: rgb(255 97 47 / var(--tw-bg-opacity))
}

.after\:drop-shadow-navglow:after {
    content: var(--tw-content);
    --tw-drop-shadow: drop-shadow(0px 4px 4px rgba(235, 97, 17, 1));
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.after\:transition:after {
    content: var(--tw-content);
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s
}

.after\:duration-300:after {
    content: var(--tw-content);
    transition-duration: .3s
}

.hover\:text-brand-purple:hover {
    --tw-text-opacity: 1;
    color: rgb(208 180 244 / var(--tw-text-opacity))
}

.after\:hover\:scale-x-100:hover:after {
    content: var(--tw-content);
    --tw-scale-x: 1;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.active\:text-brand-purple:active {
    --tw-text-opacity: 1;
    color: rgb(208 180 244 / var(--tw-text-opacity))
}

.group:hover .group-hover\:block {
    display: block
}

@media (min-width: 768px) {
    .md\:sticky {
        position: sticky
    }

    .md\:-top-\[4\.96rem\] {
        top: -4.96rem
    }

    .md\:-top-\[80px\] {
        top: -80px
    }

    .md\:bottom-\[10\%\] {
        bottom: 10%
    }

    .md\:left-8 {
        left: 2rem
    }

    .md\:right-\[32rem\] {
        right: 32rem
    }

    .md\:right-\[8\%\] {
        right: 8%
    }

    .md\:top-\[28rem\] {
        top: 28rem
    }

    .md\:mb-7 {
        margin-bottom: 1.75rem
    }

    .md\:ml-40 {
        margin-left: 10rem
    }

    .md\:flex {
        display: flex
    }

    .md\:hidden {
        display: none
    }

    .md\:h-1\/4 {
        height: 25%
    }

    .md\:h-20 {
        height: 5rem
    }

    .md\:h-full {
        height: 100%
    }

    .md\:max-h-\[575px\] {
        max-height: 575px
    }

    .md\:w-1\/2 {
        width: 50%
    }

    .md\:w-1\/3 {
        width: 33.333333%
    }

    .md\:w-1\/4 {
        width: 25%
    }

    .md\:w-11\/12 {
        width: 91.666667%
    }

    .md\:w-2\/12 {
        width: 16.666667%
    }

    .md\:w-2\/3 {
        width: 66.666667%
    }

    .md\:w-2\/5 {
        width: 40%
    }

    .md\:w-64 {
        width: 16rem
    }

    .md\:w-80 {
        width: 20rem
    }

    .md\:w-\[15\%\] {
        width: 15%
    }

    .md\:w-\[20\%\] {
        width: 20%
    }

    .md\:w-fit {
        width: -moz-fit-content;
        width: fit-content
    }

    .md\:w-full {
        width: 100%
    }

    .md\:min-w-\[16\%\] {
        min-width: 16%
    }

    .md\:grid-cols-1 {
        grid-template-columns: repeat(1, minmax(0, 1fr))
    }

    .md\:grid-cols-5 {
        grid-template-columns: repeat(5, minmax(0, 1fr))
    }

    .md\:grid-rows-2 {
        grid-template-rows: repeat(2, minmax(0, 1fr))
    }

    .md\:flex-row-reverse {
        flex-direction: row-reverse
    }

    .md\:flex-col {
        flex-direction: column
    }

    .md\:justify-between {
        justify-content: space-between
    }

    .md\:justify-evenly {
        justify-content: space-evenly
    }

    .md\:gap-0 {
        gap: 0px
    }

    .md\:gap-4 {
        gap: 1rem
    }

    .md\:border-8 {
        border-width: 8px
    }

    .md\:border-b-4 {
        border-bottom-width: 4px
    }

    .md\:border-l-2 {
        border-left-width: 2px
    }

    .md\:border-r-2 {
        border-right-width: 2px
    }

    .md\:border-black {
        --tw-border-opacity: 1;
        border-color: rgb(0 0 0 / var(--tw-border-opacity))
    }

    .md\:bg-primary-white {
        --tw-bg-opacity: 1;
        background-color: rgb(239 239 226 / var(--tw-bg-opacity))
    }

    .md\:px-10 {
        padding-left: 2.5rem;
        padding-right: 2.5rem
    }

    .md\:px-12 {
        padding-left: 3rem;
        padding-right: 3rem
    }

    .md\:py-10 {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem
    }

    .md\:py-24 {
        padding-top: 6rem;
        padding-bottom: 6rem
    }

    .md\:pt-36 {
        padding-top: 9rem
    }

    .md\:text-left {
        text-align: left
    }

    .md\:text-2xl {
        font-size: 1.5rem;
        line-height: 2rem
    }

    .md\:text-3xl {
        font-size: 1.875rem;
        line-height: 2.25rem
    }

    .md\:text-4xl {
        font-size: 2.25rem;
        line-height: 2.5rem
    }

    .md\:text-7xl {
        font-size: 4.5rem;
        line-height: 1
    }

    .md\:text-sm {
        font-size: .875rem;
        line-height: 1.25rem
    }

    .md\:drop-shadow-6xl {
        --tw-drop-shadow: drop-shadow(6px 6px 0 rgba(0, 0, 0, .25));
        filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
    }
}

@media (min-width: 1024px) {
    .lg\:absolute {
        position: absolute
    }

    .lg\:-right-72 {
        right: -18rem
    }

    .lg\:-top-6 {
        top: -1.5rem
    }

    .lg\:w-1\/2 {
        width: 50%
    }

    .lg\:w-1\/3 {
        width: 33.333333%
    }

    .lg\:w-11\/12 {
        width: 91.666667%
    }

    .lg\:w-2\/4 {
        width: 50%
    }

    .lg\:w-3\/12 {
        width: 25%
    }

    .lg\:w-3\/4 {
        width: 75%
    }

    .lg\:flex-row {
        flex-direction: row
    }

    .lg\:items-end {
        align-items: flex-end
    }

    .lg\:justify-end {
        justify-content: flex-end
    }

    .lg\:gap-7 {
        gap: 1.75rem
    }

    .lg\:text-right {
        text-align: right
    }

    .lg\:text-7xl {
        font-size: 4.5rem;
        line-height: 1
    }

    .lg\:text-9xl {
        font-size: 8rem;
        line-height: 1
    }

    .lg\:text-lg {
        font-size: 1.125rem;
        line-height: 1.75rem
    }

    .lg\:tracking-wide {
        letter-spacing: .025em
    }
}

@media (min-width: 1280px) {
    .xl\:-top-\[4\.96rem\] {
        top: -4.96rem
    }

    .xl\:mt-0 {
        margin-top: 0
    }

    .xl\:flex-row {
        flex-direction: row
    }
}